.genres__link {
    display: flex;
    text-decoration: none;
    max-width: 280px;
    width: 23.7288136%;
    height: 208px;
}

.genres__card {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    position: relative;
    text-align: center;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}

.genres__image-content {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.genres__text-content {
    margin-top: 160px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #ffffff;
}

.genres__card_comedies {
    background: linear-gradient(127.83deg, #f2c94c 8.44%, #f29a4a 91.36%);
}

.genres__card_drams {
    background: linear-gradient(127.83deg, #f2994a 8.44%, #eb5757 91.36%);
}

.genres__card_fantastic {
    background: linear-gradient(127.83deg, #56ccf2 8.44%, #2f80ed 91.36%);
}

.genres__card_horrors {
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
}

@media screen and (max-width: 430px) {
    .genres__link {
        max-width: none;
        flex: 1 1 200px;
    }
}