.movie-card {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    width: 23.73%;
    min-width: 150px;
    height: 100%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
}

.movie-card__content-container {
    display: flex;
    position: relative;
    margin-bottom: 5.7142857%;
    width: 100%;
}

.movie-card__image-content {
    width: 100%;
    height: 100%;
}

.movie-card__text-content {
    display: block;
    position: absolute;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
    color: #f2f2f2;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-left: 5.7142857%;
    padding-right: 5.7142857%;
    padding-top: 5.7142857%;
    &:hover {
        opacity: 1;
        background-color: rgba($color: #000000, $alpha: 0.8);
    }
}

.movie-card__title-container {
    margin-top: 16px;
}

.movie-card__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}