.logo {
    display: flex;
}

.logo__content-cell {
    vertical-align: middle;
}

.logo__text {
    padding-left: 11px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .logo {
        color: red;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}