main {
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 72px;
    margin: 0 auto;
}

.channels {
    height: 696px;
    overflow-y: scroll;
     ::-webkit-scrollbar-button {
        width: 5px;
        height: 0px
    }
     ::-webkit-scrollbar-track {
        background-color: red;
    }
     ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background-color: red;
    }
     ::-webkit-scrollbar-thumb:hover {
        background-color: #BDBDBD;
    }
     ::-webkit-resizer {
        background-repeat: no-repeat;
        width: 4px;
        height: 0px
    }
     ::-webkit-scrollbar {
        width: 4px;
    }
}

.novelties {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.novelties__title {
    left: 0px;
    top: 0px;
    margin-bottom: 16px;
}

.novelties__container {
    display: flex;
    justify-content: space-between;
    max-height: 478px;
}

.novelties__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.genres__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.genres__title {
    margin-bottom: 16px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}