main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.novelties {
    display: flex;
    flex-direction: column;
}

.novelties__container {
    display: flex;
    justify-content: space-between;
}

.novelties__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.genres__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}