header {
    max-width: 1180px;
    padding-top: 32px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: red($color: red);
    margin-bottom: 44px;
}

@media screen and (max-width: 400px) {}