.login__enter {
    border: none;
    background-color: #e5261e;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    /* identical to box height */
    text-align: center;
    width: 113px;
    height: 38px;
    border-radius: 4px;
    &:hover {
        background: #cc221b;
    }
}